<nav class="nav">
    <h3>Navigation</h3>
    <ul class="menu">
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/categories">Categories</NavLink></li>
        <li><NavLink href="/products">Products</NavLink></li>
        <li><NavLink href="/carts">Carts</NavLink></li>
    </ul>
</nav>


