apiVersion: 1

datasources:
  - name: 'Prometheus'
    type: 'prometheus'
    ord_id: 1
    access: 'proxy'
    url: 'http://prometheus:9090'
    isDefault: true
    editable: true
    basicAuth: false
