**/.dockerignore
**/.git
**/.gitignore
**/.gitattributes
**/*.env
**/.vs
**/.idea
**/.vscode
**/*.user
**/[Bb]in
**/[Oo]bj
**/*.log
**/Dockerfile
**/docker-compose*
**/*.sln
**/*.bat
LICENSE
CONTRIBUTING.md
README.md
