networks:
  itemsshop-network:
    driver: bridge

volumes:
  db_data:

services:
  itemsshop-db:
    image: postgres:18.0-alpine
    container_name: itemsshop-db
    hostname: itemsshop-db
    restart: always
    environment:
      - POSTGRES_HOST=${DATABASE_HOST}
      - POSTGRES_PORT=${DATABASE_INNER_PORT}
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=${DATABASE_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - ${DATABASE_PORTS:-5432:5432}
    networks:
      - itemsshop-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} -p $${POSTGRES_PORT}"]
      interval: 5s
      timeout: 15s
      retries: 3
      start_period: 10s

  itemsshop-host:
    image: itemsshop-host:0.1
    container_name: itemsshop-host
    hostname: itemsshop-host
    restart: always
    build:
      context: .
      dockerfile: ./Host/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_JAEGER_ENDPOINT}
      - OTEL_EXPORTER_OTLP_PROTOCOL=${OTEL_EXPORTER_PROTOCOL}
      - OTEL_EXPORTER_OTLP_HEADERS=${OTEL_EXPORTER_HEADERS}
    ports:
      - ${HOST_PORTS:-8080:8080}
    networks:
      - itemsshop-network
    depends_on:
      itemsshop-db:
        condition: service_healthy

  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    restart: always
    ports:
      - 4317:4317
      - 4318:4318
      - 16686:16686
    networks:
      - itemsshop-network
