networks:
  itemsshop-network:
    driver: bridge

volumes:
  db_data:

services:
  itemsshop-db:
    image: postgres:18.0-alpine
    container_name: itemsshop-db
    hostname: itemsshop-db
    restart: always
    environment:
      - POSTGRES_HOST=${DATABASE_HOST}
      - POSTGRES_PORT=${DATABASE_INNER_PORT}
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=${DATABASE_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./Configs/postgresql-scripts:/docker-entrypoint-initdb.d
    command: >
      postgres
      -c shared_preload_libraries=pg_stat_statements
    ports:
      - ${DATABASE_PORTS:-5432:5432}
    networks:
      - itemsshop-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} -p $${POSTGRES_PORT}"]
      interval: 5s
      timeout: 15s
      retries: 3
      start_period: 10s

  postgres-exporter:
    image: quay.io/prometheuscommunity/postgres-exporter:v0.18.1
    hostname: itemsshop-db-exporter
    restart: always
    environment:
      - DATA_SOURCE_NAME=postgresql://postgres:password@itemsshop-db:5432/postgres?sslmode=disable
    command: ["--collector.stat_statements"]
    ports:
      - ${EXPORTER_PORTS:-9187:9187}
    networks:
      - itemsshop-network
    depends_on:
      itemsshop-db:
        condition: service_healthy

  prometheus:
    image: prom/prometheus:v3.7.3
    container_name: prometheus
    hostname: prometheus
    ports:
      - ${PROMETHEUS_PORT:-9090:9090}
    volumes:
      - ./Configs/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.enable-admin-api'
    networks:
      - itemsshop-network
    depends_on:
      - postgres-exporter

  grafana:
    image: grafana/grafana:12.2
    container_name: grafana
    restart: always
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=${GRAFANA_AUTH_ANONYMOUS_ENABLED}
      - GF_AUTH_ANONYMOUS_ORG_ROLE=${GRAFANA_AUTH_ANONYMOUS_ORG_ROLE}
      - GF_AUTH_DISABLE_LOGIN_FORM=${GRAFANA_AUTH_DISABLE_LOGIN_FORM}
    volumes:
      - ./Configs/grafana-configs/dashboards.yaml:/etc/grafana/provisioning/dashboards/dashboards.yaml
      - ./Configs/grafana-configs/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
      - ./Configs/grafana-dashboards:/var/lib/grafana/dashboards
    ports:
      - ${GRAFANA_PORT:-3000:3000}
    networks:
      - itemsshop-network

  jaeger:
    image: jaegertracing/all-in-one:1.74.0
    container_name: jaeger
    restart: always
    ports:
      - ${JAEGER_UI_PORT:-16686:16686}
      - ${JAEGER_OTLP_PORT:-4317:4317}
    networks:
      - itemsshop-network

  itemsshop-host:
    image: itemsshop-host:0.1
    container_name: itemsshop-host
    hostname: itemsshop-host
    restart: always
    build:
      context: .
      dockerfile: ./Host/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - OTEL_EXPORTER_ENDPOINT=${JAEGER_EXPORTER_TRACING_ENDPOINT}
    ports:
      - ${HOST_PORTS:-8080:8080}
    networks:
      - itemsshop-network
    healthcheck:
      test: ["CMD", "curl --fail http://localhost:8080/healthz || exit"]
      interval: 5s
      timeout: 3s
      retries: 2
      start_period: 5s
    depends_on:
      itemsshop-db:
        condition: service_healthy
