name: Build and Test

on:
  pull_request:
    branches: [master, develop]
    types: [opened, reopened, synchronize]

permissions:
  contents: read
  pull-requests: read

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      SOLUTION_FILE: ./src/ItemsShop.sln
      PROJECT_PATH: ./src/Host/ItemsShop.Host/ItemsShop.Host.csproj
    steps:
      - uses: actions/checkout@v6
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.*

      - name: Install dependencies
        run: |
          dotnet restore ${{ env.SOLUTION_FILE }} --disable-parallel

      - name: Build
        run: |
          dotnet build ${{ env.SOLUTION_FILE }} \
            --configuration Release \
            --no-restore

      - name: Test
        run: |
          dotnet test ${{ env.SOLUTION_FILE }} \
            --configuration Release \
            --no-build \
            --no-restore \
            --verbosity normal

  lint-only:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.*
      - name: Install dotnet-format
        run: |
          dotnet tool install -g dotnet-format || true
          echo "$HOME/.dotnet/tools" >> $GITHUB_PATH
      - name: dotnet format (check only)
        run: |
          dotnet format --verify-no-changes || (echo "Formatting errors found" && exit 1)