name: Build and Test

on:
  pull_request:
    branches: [master, develop]
    types: [opened, reopened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    env:
      SOLUTION_FILE: ./src/ItemsShop.sln
      PROJECT_PATH: ./src/Host/ItemsShop.Host/ItemsShop.Host.csproj

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9.0.*

      - name: Install dependencies
        run: dotnet restore ${{ env.SOLUTION_FILE }}

      - name: Build
        run: |
          dotnet build ${{ env.SOLUTION_FILE }} \
            --configuration Release \
            --no-restore

      - name: Test
        run: |
          dotnet test ${{ env.SOLUTION_FILE }} \
            --configuration Release \
            --no-build \
            --no-restore \
            --verbosity normal
